<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>391279871687-7lsok3vorg5h23ic0cvfofdqvti0av17.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.391279871687-7lsok3vorg5h23ic0cvfofdqvti0av17</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>391279871687-66uh5qrj77j50cnihiqe97g8nd0upap7.apps.googleusercontent.com</string>
	<key>GCM_SENDER_ID</key>
	<string>391279871687</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.mycompany.realduedojo</string>
	<key>PROJECT_ID</key>
	<string>realduedojo</string>
	<key>STORAGE_BUCKET</key>
	<string>realduedojo.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:391279871687:ios:78efdf9c7650e21936e0e2</string>
</dict>
</plist>
